doctype html
html 
  head
    link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/main.css')
  body
    include body.pug
    script(src="lib/jquery/dist/jquery.min.js")
    script(src="lib/bootstrap/dist/js/bootstrap.js")
    
