extends partials/layout.pug

block content
  .welcome
    .welcome__text
      h1 You're looking for love in all the wrong places!!!
    .welcome__image
      img(src = 'http://static1.businessinsider.com/image/5325ccb76da811ca6bfde318-610-578/dating%2013.jpg')
