extends partials/layout.pug

block content
  .heading
    h2 Do you wanna build the wall between yourself and love?
  .login-form
    form(method = 'POST')
      .logout-form__submit
        a.btn.btn-danger.btn-lg(href = '/') Cancel
        input.btn.btn-success.btn-lg(type = 'submit' value = 'Logout')
