extends partials/layout.pug

block content
    form(method='POST')
        .form-group.col-sm-6.col-md-4
            label(for='height') Height
            input.form-control#height(type='text' name='height' placeholder='5\' 10"' value=body.height
            required)
        .form-group.col-sm-6.col-md-4
        label(for='citizenship') Citizenship
        select(name='citizenship')
          option Yes
          option No
        .form-group
        label(for='hand_size') Hand Size
        select(name='handsize')
          option Trump
          option Kid
          option Small
          option Medium
          option Yuuuuge
        h3 On a scale from 1 to 5 (1 being horrible, 5 being great), how do you feel about...
        .form-group.col-md-4
        h3 Kittens
        .btn-toolbar(role='toolbar')
          .btn-group(role='group')
            btn.btn.btn-default(type='button') 1
            btn.btn.btn-default(type='button') 2
            btn.btn.btn-default(type='button') 3
            btn.btn.btn-default(type='button') 4
            btn.btn.btn-default(type='button') 5
        .form-group.col-sm-6.col-md-4
        h3 Donald Trump
        .btn-toolbar(role='toolbar')
          .btn-group(role='group')
            btn.btn.btn-default(type='button') 1
            btn.btn.btn-default(type='button') 2
            btn.btn.btn-default(type='button') 3
            btn.btn.btn-default(type='button') 4
            btn.btn.btn-default(type='button') 5
        .form-group.col-sm-6.col-md-4
        h3 Justin Bieber
        .btn-toolbar(role='toolbar')
          .btn-group(role='group')
            btn.btn.btn-default(type='button') 1
            btn.btn.btn-default(type='button') 2
            btn.btn.btn-default(type='button') 3
            btn.btn.btn-default(type='button') 4
            btn.btn.btn-default(type='button') 5
        .form-group.col-sm-6.col-md-4
        h3 Pizza
        .btn-toolbar(role='toolbar')
          .btn-group(role='group')
            btn.btn.btn-default(type='button') 1
            btn.btn.btn-default(type='button') 2
            btn.btn.btn-default(type='button') 3
            btn.btn.btn-default(type='button') 4
            btn.btn.btn-default(type='button') 5
        .form-group.col-sm-6
        h3 Joe Shepherd
        .btn-toolbar(role='toolbar')
          .btn-group(role='group')
            btn.btn.btn-default(type='button') 1
            btn.btn.btn-default(type='button') 2
            btn.btn.btn-default(type='button') 3
            btn.btn.btn-default(type='button') 4
            btn.btn.btn-default(type='button') 5
        .contact-form__submit.center
        a.btn.btn-danger.btn-lg(href='/') Cancel
        input.btn.btn-success.btn-lg(type='submit' value=Submit)
